@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.00000 0.00000 0);
  --foreground: oklch(0.14100 0.00500 285.82300);
  --card: oklch(1.00000 0.00000 0);
  --card-foreground: oklch(0.14100 0.00500 285.82300);
  --popover: oklch(1.00000 0.00000 0);
  --popover-foreground: oklch(0.14100 0.00500 285.82300);
  --primary: oklch(0.66627 0.16724 307.87521);
  --primary-foreground: oklch(0.14100 0.00500 285.82300);
  --secondary: oklch(0.97988 0.00258 327.06342);
  --secondary-foreground: oklch(0.14100 0.00500 285.82300);
  --accent: oklch(0.97832 0.00258 288.66034);
  --accent-foreground: oklch(0.14100 0.00500 285.82300);
  --destructive: oklch(0.66424 0.18369 30.34662);
  --destructive-foreground: oklch(0.98500 0.00000 0.00000);
  --muted: oklch(0.96874 0.00147 310.42454);
  --muted-foreground: oklch(0.14100 0.00500 285.82300);
  --border: oklch(0.91941 0.00731 310.36378);
  --input: oklch(0.91941 0.00731 310.36378);
  --ring: oklch(0.66627 0.16724 307.87521);
}

.dark {
  --background: oklch(0.20875 0.01421 309.80648);
  --foreground: oklch(0.98500 0.00000 0.00000);
  --card: oklch(0.20875 0.01421 309.80648);
  --card-foreground: oklch(0.98500 0.00000 0.00000);
  --popover: oklch(0.19928 0.00966 309.98804);
  --popover-foreground: oklch(0.98500 0.00000 0.00000);
  --primary: oklch(0.39588 0.17400 304.26135);
  --primary-foreground: oklch(0.98500 0.00000 0.00000);
  --secondary: oklch(0.07389 0.02049 328.72118);
  --secondary-foreground: oklch(0.98500 0.00000 0.00000);
  --accent: oklch(0.06072 0.01941 282.92694);
  --accent-foreground: oklch(0.98500 0.00000 0.00000);
  --destructive: oklch(0.66424 0.18369 30.34662);
  --destructive-foreground: oklch(0.98500 0.00000 0.00000);
  --muted: oklch(0.25926 0.02007 309.71915);
  --muted-foreground: oklch(0.98500 0.00000 0.00000);
  --border: oklch(0.27079 0.01576 309.89826);
  --input: oklch(0.27079 0.01576 309.89826);
  --ring: oklch(0.39588 0.17400 304.26135);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
